*{

}
body{
    background:linear-gradient(80deg,rgb(6, 97, 34),rgb(219, 207, 93))
}
hearder{ 
    
    background:linear-gradient(90deg, rgb(148, 13, 13), rgb(197, 105, 62) );
    margin-right: -8px;
    margin-left: -10px;
    margin-top: -10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center 
        }
 hearder > h1{
    color:black ;
    font-size: 3em;
    margin-bottom: 30px;
 }