*{

}
body{
    background:linear-gradient(90deg, rgb(55, 91, 92),rgb(204, 204, 42));
}
hearder{
    padding-right: 40px;
    padding-left: 40px;
    background-color:rgb(83, 104, 50);
    padding-top:40px;
    align-items: center 
        }
 hearder > h1{
    color:black ;
    font-size: 3em;
    margin-bottom: 20px;
 }