*{

}
body{
    background:linear-gradient(left, blue,green, yellow);
}
hearder{
    background-color:rgb(43, 58, 18) ;
    display: flex;
    justify-content: space-around;
    align-items: center 
    
        }